form {
  max-width: 420px;
  margin: 0 auto 35px auto;
  background-color: rgba($color: #000000, $alpha: 0.3);
  padding: 32px;
  border-radius: 15px;
}

input:not(input[type="range"]) {
  all: unset;
  box-sizing: border-box;
  padding: 12px 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  font-size: 16px;
  width: 100%;
  margin: 5px 0;
}

input[type=submit] {
  background-color: $youtubeRed;
  opacity: 0.9;
  text-align: center;
  cursor: pointer;
  display: block;
  margin-top: 15px;
}

