.empty__message {
  margin: 50px;
  text-align: center;
}
.video__grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}
.auth-switch {
  text-align: center;
  margin-top: 15px;
  a {
    text-decoration: underline;
  }
}