extends base
include mixins/video

block content
    h1 Welcome here you will see the trening videos
    ul
        each videoList in videosNumList
            li=videoList
        else
            li="Sorry nothing found"

        each videoObject in videosObject
            +video(videoObject)
        else
            li="Sorry"
